<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="tests/phpunit-bootstrap.php"
         colors="true">

  <testsuites>
    <testsuite name="unit">
      <directory>tests</directory>
      <exclude>tests/connection-tests</exclude>
    </testsuite>
  </testsuites>

  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory>tests/reports</directory>
      <!-- Classes with connection to API -->
      <file>src/Bpack247.php</file>
      <file>src/Bpost.php</file>
      <file>src/Geo6.php</file>
    </exclude>
  </source>

  <logging>
    <junit outputFile="tests/reports/phpunit.xml"/>
    <coverage>
      <html outputDirectory="tests/reports/coverage-clover-html"/>
      <clover outputFile="tests/reports/coverage-clover.xml"/>
    </coverage>
  </logging>

</phpunit>
